name: check docs

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - 'README.md'
      - '.github/pull_request_template.md'

jobs:
  call-tagged:
    if: ${{ github.event.pull_request.merged == true }}
    name: tagged
    runs-on: ubuntu-slim
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Check for modified README files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            target:
              - 'README.md'

      - name: Check PR template for docs update
        if: ${{ steps.filter.outputs.target == 'true' }}
        id: check_docs_update
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
              const pr_number = context.payload.pull_request.number;
              const { data: pr } = await github.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pr_number,
              });
              const body = pr.body || "";
              const docsUpdateChecked = body.includes("- [ ] ドキュメントの更新を実施した");
              console.log(`Docs update checked: ${docsUpdateChecked}`);
              return docsUpdateChecked;
      - name: Create issue for docs update
        if: ${{ steps.filter.outputs.target == 'true' && steps.check_docs_update.outputs.result == 'true' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const issueTitle = `[ドキュメント要更新] by PR #${context.payload.pull_request.number}`;
            const issueBody = `PR #${context.payload.pull_request.number} にてドキュメントの更新が必要と検知されて起票されました。内容を確認してください。\n\nPRリンク: ${context.payload.pull_request.html_url}`;
            await github.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: issueTitle,
              body: issueBody,
            });
