name: workflow modify checker
# This workflow is c

on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]
    paths:
      - '.github/workflows/**'

jobs:
  check-actions:
    name: check actions
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: check secret
        id: check_secret
        run: |
          if [[ -n '${{secrets.CANCEL_WORKFLOW_TOKEN}}' ]]; then
            echo "name=exist_secret::true" >> $GITHUB_OUTPUT
          else
            echo "name=exist_secret::false" >> $GITHUB_OUTPUT
          fi
      - if: contains(github.event.pull_request.labels.*.name, 'update CI') != true && steps.check_secret.outputs.exist_secret == 'true'
        name: wait 20 sec
        run: sleep 20
      - if: contains(github.event.pull_request.labels.*.name, 'update CI') != true && steps.check_secret.outputs.exist_secret == 'true'
        name: cancel workflows
        id: cancel_workflow
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.CANCEL_WORKFLOW_TOKEN }}
          script: |
            // Get a list of all issues created by the PR opener
            // See: https://octokit.github.io/rest.js/#pagination
            const creator = context.payload.sender.login
            const opts1 = github.actions.listWorkflowRunsForRepo.endpoint.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event: 'pull_request',
              status: 'queued'
            })
            const queuedWorkflows = await github.paginate(opts1)
            const opts2 = github.actions.listWorkflowRunsForRepo.endpoint.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event: 'pull_request',
              status: 'in_progress'
            })
            const inProgressWorkflows = await github.paginate(opts2)
            const workflows = queuedWorkflows.concat(inProgressWorkflows)
            //console.log(workflows);
            for (const workflow of workflows) {
              if (workflow.run_number == context.runNumber) continue
              await github.actions.cancelWorkflowRun({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: workflow.id
              })
              console.log(`cancel: ${workflow.name} (${workflow.id}),`,
                `path:${workflow.head_repository.full_name}/tree/${workflow.head_branch}`);
            }
            throw new Error('Change workflow file. please set label "update CI".')
      - if: success()
        run: echo "enabled editing workflow."
